# Pandas

In [4]:
import pandas as pd
import numpy as np

In [11]:
pd.Series([1,2,3,'jadi',np.nan,-1])
# nan means nothing

0       1
1       2
2       3
3    jadi
4     NaN
5      -1
dtype: object

In [7]:
dates = pd.date_range('20220101',periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
df
# pd.DataFrame gets the input data ,  the index calue , columns(name of them) to set a data frame (like a table)
# np.random.rand set data from 0 to 1 byt randn set from - to +

                   a         b         c         d
2022-01-01 -0.759024  1.252782  0.025987  0.470358
2022-01-02 -0.859372 -0.918148 -0.492104  1.011522
2022-01-03 -0.767672 -1.074146 -0.635406 -0.273074
2022-01-04 -0.722217 -0.696017 -0.486239  2.204282
2022-01-05 -0.788648 -0.035195  2.322818 -1.318911
2022-01-06 -1.371813  0.368841 -0.203755 -0.634290

In [13]:
df['a']

2022-01-01   -0.759024
2022-01-02   -0.859372
2022-01-03   -0.767672
2022-01-04   -0.722217
2022-01-05   -0.788648
2022-01-06   -1.371813
Freq: D, Name: a, dtype: float64

In [14]:
df.head

<bound method NDFrame.head of                    a         b         c         d
2022-01-01 -0.759024  1.252782  0.025987  0.470358
2022-01-02 -0.859372 -0.918148 -0.492104  1.011522
2022-01-03 -0.767672 -1.074146 -0.635406 -0.273074
2022-01-04 -0.722217 -0.696017 -0.486239  2.204282
2022-01-05 -0.788648 -0.035195  2.322818 -1.318911
2022-01-06 -1.371813  0.368841 -0.203755 -0.634290>

In [15]:
df.head(2)

                   a         b         c         d
2022-01-01 -0.759024  1.252782  0.025987  0.470358
2022-01-02 -0.859372 -0.918148 -0.492104  1.011522

In [16]:
df.tail(2)

                   a         b         c         d
2022-01-05 -0.788648 -0.035195  2.322818 -1.318911
2022-01-06 -1.371813  0.368841 -0.203755 -0.634290

In [17]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.878124 -0.183647  0.088550  0.243314
std    0.246081  0.892817  1.120086  1.262100
min   -1.371813 -1.074146 -0.635406 -1.318911
25%   -0.841691 -0.862615 -0.490638 -0.543986
50%   -0.778160 -0.365606 -0.344997  0.098642
75%   -0.761186  0.267832 -0.031449  0.876231
max   -0.722217  1.252782  2.322818  2.204282

In [18]:
df['a'].mean()

-0.8781244076658344

In [19]:
df[1:3]

                   a         b         c         d
2022-01-02 -0.859372 -0.918148 -0.492104  1.011522
2022-01-03 -0.767672 -1.074146 -0.635406 -0.273074

In [21]:
df.sort_values(by='b')

                   a         b         c         d
2022-01-03 -0.767672 -1.074146 -0.635406 -0.273074
2022-01-02 -0.859372 -0.918148 -0.492104  1.011522
2022-01-04 -0.722217 -0.696017 -0.486239  2.204282
2022-01-05 -0.788648 -0.035195  2.322818 -1.318911
2022-01-06 -1.371813  0.368841 -0.203755 -0.634290
2022-01-01 -0.759024  1.252782  0.025987  0.470358

In [24]:
df[df['a']<1]

                   a         b         c         d
2022-01-01 -0.759024  1.252782  0.025987  0.470358
2022-01-02 -0.859372 -0.918148 -0.492104  1.011522
2022-01-03 -0.767672 -1.074146 -0.635406 -0.273074
2022-01-04 -0.722217 -0.696017 -0.486239  2.204282
2022-01-05 -0.788648 -0.035195  2.322818 -1.318911
2022-01-06 -1.371813  0.368841 -0.203755 -0.634290

In [ ]:
# df.to_csv(path)
# this will save the data frame to csv